In [31]:
import requests

#Sign up to get access: https://calorieninjas.com/api


def get_calories(food):
    url = "https://api.calorieninjas.com/v1/nutrition?query="

    headers = {
        'X-Api-Key': 'Eg7Xko69ApfulT72HhvwsA==0g1YctkeZSnm08Fn'
    }

    response = requests.get(url + food, headers=headers).json()
    return response['items'][0]['calories']

get_calories("Pizza")

# for index, label in data.iterrows():
#     data['calories'] = get_calories(label)

262.9

In [32]:
import pandas as pd
data = {
    'dish': ['Spaghetti', 'Pizza'],
    'filename': ['spaghetti.jpg', 'pizza.jpg'],
}

df = pd.DataFrame(data)
df.head()

        dish       filename
0  Spaghetti  spaghetti.jpg
1      Pizza      pizza.jpg

In [34]:
# for index, label in df.iterrows():
#     df['calories'] = get_calories(label)

df['calories'] = df['dish'].apply(get_calories)
df

        dish       filename  calories
0  Spaghetti  spaghetti.jpg     154.1
1      Pizza      pizza.jpg     262.9